[user]
    name = Christoffer Rehn
    email = crehn@outlook.com

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff

[difftool]
    prompt = false

[alias]
    a = add
    ba = branch -a
    cam = commit -am
    cm = commit -m
    d = diff
    ds = diff --staged
    dwd = diff --word-diff
    l = log
    lg = log --graph --pretty=format:'%C(auto)%h%C(reset) %C(blue)(%cr)%C(reset)%C(auto)%d%C(reset) %s %C(green)<%an>%C(reset)'
    p = pull
    poh = push -u origin HEAD
    pr = pull --rebase
    s = status
    sh = show
    u = remote -v
