[user]
    name = Christoffer Rehn
    email = 1280602+hoffa@users.noreply.github.com

[alias]
    a = add
    cm = commit -m
    d = diff
    ds = diff --staged
    l = log --graph --all --pretty=format:'%C(auto)%h%C(reset) %C(blue)(%cr)%C(reset)%C(auto)%d%C(reset) %s %C(green)<%an>%C(reset)'
    poh = push -u origin HEAD
    s = status
    sh = show
    u = remote -v

[pull]
    rebase = true
